# Game URLs
NEXT_PUBLIC_SPACESHIP_URL=https://spaceship.chipsonchips.com
NEXT_PUBLIC_LUDO_URL=https://ludo.chipsonchips.com

# Auth
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Web3
NEXT_PUBLIC_WC_PROJECT_ID=

# Coinbase OnchainKit
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
